body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #ad5d5d;
        }
        header {
            background: #222;
            padding: 20px;
            text-align: center;
            color: rgb(16, 14, 14);
        }
        nav a {
            margin: 0 15px;
            color: rgb(60, 234, 234);
            text-decoration: none;
            font-weight: bold;
        }
        .hero {
            padding: 60px;
            text-align: center;
            background: #857676;
        }
        .hero h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }
        .section {
            padding: 50px;
            max-width: 900px;
            margin: auto;
            background: #fff;
            margin-top: 20px;
            border-radius: 10px;
        }
        footer {
            background: #222;
            padding: 20px;
            text-align: center;
            color: white;
            margin-top: 20px;
        }